@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
	font-family: 'Roboto';
    font-weight:400;
    font-style:normal;
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto';
    font-weight:400;
    font-style:italic;
	src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
	font-family: 'Roboto';
    font-weight:500;
    font-style:normal;
	src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: 'Roboto';
    font-weight:500;
    font-style:italic;
	src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Roboto-BoldItalic.ttf');
}

@font-face {
	font-family: 'Roboto';
    font-weight:bold;
    font-style:normal;
	src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
	font-family: 'Roboto';
    font-weight:bold;
    font-style:italic;
	src: url('../fonts/Roboto-BlackItalic.ttf');
}

@font-face {
	font-family: 'Archivo';
    font-weight:700;
    font-style:italic;
	src: url('../fonts/ArchivoBlack-Regular.ttf');
}